*.iml
.idea/
/target/
/project/project/
/project/target/
/codegen/target/
/runtime/target/
/sbt-plugin/target
/example/project/project
/example/project/target
/example/target

/codegen/src/main/scala/api4s/codegen/Main.scala
/runtime/src/test
